language: python 
python:
  - "2.7"
  - "3.4"
  - "3.5.5"
  - "3.6"
# - "3.7" is handled in 'Test' job using xenial as Python 3.7 is not available for trusty.
  - "pypy"
  - "pypy3"
install: "pip install -r requirements/core.txt;pip install -r requirements/test.txt"
script: "nosetests --with-coverage --cover-package=optimizely"
after_success:
  - coveralls

# Linting and Integration tests need to run first to reset the PR build status to pending.
stages:
  - 'Lint markdown files'
  - 'Linting'
  - 'Integration tests'
  - 'Benchmarking tests'
  - 'Test'

jobs:
  include:
    - stage: 'Lint markdown files'
      language: ruby
      rvm: 2.4.1
      os: linux
      install: gem install awesome_bot
      script:
        - find . -type f -name '*.md' -exec awesome_bot {} \;
      notifications:
        email: false

    - stage: 'Lint markdown files'
      language: node_js
      node_js: 12
      os: linux
      before_install: skip
      install:
        - npm i -g markdown-spellcheck
      before_script:
        - wget --quiet https://gist.githubusercontent.com/juancarlostong/dad02feeebc8763af35b4fdc717cf7a2/raw/29e085302a9418edbefba15d8f790fa76e0a89d5/.spelling
      script:
        - mdspell -a -n -r --en-us '**/*.md'
      after_success: skip

    - stage: 'Linting'
      language: python
      python: "2.7"
      # flake8 version should be same as the version in requirements/test.txt
      # to avoid lint errors on CI
      install: "pip install flake8==3.6.0" 
      script: "flake8"
      after_success: travis_terminate 0
    - &integrationtest
      stage: 'Integration tests'
      merge_mode: replace
      env: SDK=python SDK_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH
      cache: false
      language: minimal
      install: skip
      before_script:
        - mkdir $HOME/travisci-tools && pushd $HOME/travisci-tools && git init && git pull https://$CI_USER_TOKEN@github.com/optimizely/travisci-tools.git && popd
      script:
        - $HOME/travisci-tools/trigger-script-with-status-update.sh
      after_success: travis_terminate 0
    - <<: *integrationtest
      stage: 'Benchmarking tests'
      env: SDK=python FULLSTACK_TEST_REPO=Benchmarking SDK_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH
    - stage: 'Test'
      addons:
        srcclr: true
      dist: xenial
      python: "3.7"
