language: python 
python:
  - "2.7"
  - "3.4"
  - "3.5.5"
  - "3.6"
# - "3.7" is handled in 'Test' job using xenial as Python 3.7 is not available for trusty.
  - "pypy"
  - "pypy3"
install: "pip install -r requirements/core.txt;pip install -r requirements/test.txt"
addons:
  srcclr: true
script: "nosetests --with-coverage --cover-package=optimizely"
after_success:
  - coveralls

# Linting and Integration tests need to run first to reset the PR build status to pending.
stages:
  - 'Linting'
  - 'Integration tests'
  - 'Benchmarking tests'
  - 'Test'

jobs:
  include:
    - stage: 'Linting'
      language: python
      python: "2.7"
      # flake8 version should be same as the version in requirements/test.txt
      # to avoid lint errors on CI
      install: "pip install flake8==3.6.0" 
      script: "flake8"
      after_success: travis_terminate 0
    - &integrationtest
      stage: 'Integration tests'
      merge_mode: replace
      env: SDK=python
      cache: false
      language: minimal
      install: skip
      before_script:
        - mkdir $HOME/travisci-tools && pushd $HOME/travisci-tools && git init && git pull https://$CI_USER_TOKEN@github.com/optimizely/travisci-tools.git && popd
      script:
        - "$HOME/travisci-tools/trigger-script-with-status-update.sh"
      after_success: travis_terminate 0
    - <<: *integrationtest
      stage: 'Benchmarking tests'
      env: SDK=python FULLSTACK_TEST_REPO=Benchmarking
      script:
        - "$HOME/travisci-tools/trigger-script-with-status-update.sh yasir/bench-exp-support"
    - stage: 'Test'
      dist: xenial
      python: "3.7"
